[Unit]
Description=ForgeOJSON Web Application
After=network.target

[Service]
User=forgeojson
Group=forgeojson
WorkingDirectory=/opt/forgeojson
Environment="PATH=/opt/forgeojson/venv/bin"
ExecStart=/opt/forgeojson/venv/bin/gunicorn -c gunicorn_config.py app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
